<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>I'm <strong>Gattuoch Kuon</strong> , a committed Computer Science (major) and Pschology (minor) student who enjoy learning new technologies everyday. As a new technologists, I have the drive and the passion to get the most out of programming. I`m passionate about studying people`s behaviour, technology and the development of a better society.</p>
              <p>
              I`m fascinated by Human behaviour, how people make decisions, what motivate them and how they act in different scenarios. "We think of technology: software and hardware, We tend not to think about the human side: the impact of what we’ve created and adopted as it permeates our lives. It impacts our cognition and our social interactions", by Dr Lee.  This is the intersection between Computer Science and Psychology I`m passionate about it.
              </p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>