<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2018 - 2022</p>
              <div class="h5">Bachelor's Degree</div>
              <div style="color:red;" class="h6">Montreal, Canada</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div style="color:rgb(184, 19, 19);" class="h5">Bachelor of Computer Science.</div>
               <h4 class="category">McGill University</h4>
               <ul>
                <li> McGill University is one of the most prestious Universities in Canada and <b>ranked 2th</b> in <b>2020</b> </li>
                    <li>Currently studying Computer Science (Major) and Psychology (Minor).</li>
                 <li>Active member of <b>NSBE.</b> </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 - 2016</p>
              <div class="h5">Secondary School</div>
              <div style="color:red;"class="h6">Kitale, Kenya</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div style="color:rgb(184, 19, 19);" class="h5">High School</div>
               <h4 class="category">St Josephs Boys National School
               </h4>
               <ul>
                <li>
                  Awarded United Nations (UN) High School Scholarship to study at St Josephs Boys National School in <b>2013.</b>
                </li>
                <li>
                  The High School was mainly focus on the Mathematics, English, Swahili, Biology, Physics, Chemistry, Business Studies and Christian Religion Education.
                                  </li>
                                  <li>
                                     Scored Straight <b>As</b> in Mathematics, Chemistry, Physics, Business Studies and Christian Religion Education.
                                  </li>
                                  <li>
                                    Completed my Kenya Certificate of Secondary Education (KCSE) with<b> 76</b> Mean Grade out of <b>84 (3.61/4.0)</b>.
                                  </li>
                                  <li>
                                    Top 10 student in Trans-Nzoia County (Kitale) in <b>2016 KCSE .</b>
                                  </li>
                                  <li>
                                  Awarded World University Service of Canada (WUSC) Scholarship to study at McGill University in Canada <b>2018.</b>
                                  </li>
                                
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>